.show-restaurant {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(226%2c 249%2c 211%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c400.291C85.941%2c408.004%2c177.596%2c435.473%2c253.549%2c394.53C330.799%2c352.888%2c387.336%2c270.113%2c402.002%2c183.588C415.776%2c102.327%2c338.571%2c34.572%2c328.427%2c-47.221C317.963%2c-131.595%2c381.794%2c-221.36%2c342.435%2c-296.721C302.314%2c-373.541%2c213.636%2c-428.581%2c127.071%2c-432.763C42.599%2c-436.844%2c-18.142%2c-356.537%2c-93.307%2c-317.774C-151.77%2c-287.624%2c-213.223%2c-269.898%2c-265.685%2c-230.217C-329.758%2c-181.754%2c-411.741%2c-139.918%2c-431.425%2c-62.03C-451.294%2c16.591%2c-402.213%2c94.584%2c-366.121%2c167.202C-331.054%2c237.757%2c-292.359%2c309.188%2c-225.896%2c351.501C-159.57%2c393.727%2c-78.312%2c393.263%2c0%2c400.291' fill='%23adee82'%3e%3c/path%3e%3cpath d='M1440 970.246C1536.052 980.2090000000001 1631.382 1031.763 1722.339 999.328 1820.061 964.48 1890.868 879.219 1944.431 790.366 2002.458 694.107 2054.976 585.131 2039.103 473.86199999999997 2023.225 362.55600000000004 1950.502 262.626 1859.689 196.337 1777.038 136.00599999999997 1667.833 143.675 1566.5720000000001 128.937 1479.99 116.33600000000001 1393.507 91.106 1309.716 116.29199999999997 1226.1970000000001 141.39600000000002 1166.7269999999999 208.40300000000002 1103.248 268.202 1032.682 334.677 947.962 392.69 918.326 484.995 886.517 584.069 882.218 701.034 935.606 790.3489999999999 987.9639999999999 877.9390000000001 1096.833 910.1379999999999 1192.949 944.419 1272.549 972.809 1355.94 961.527 1440 970.246' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: repeat;
  background-size: 150%;
  background-position: top;
  min-height: 100vh;
}

.show-restaurant ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.5);
  padding: 2rem;
  border-radius: 0.5rem;
}

.show-restaurant a.new-review-btn {
  display: block;
  text-align: center;
  min-width: 15rem;
  width: fit-content;
  height: 3rem;
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.show-restaurant a.new-review-btn:hover {
  opacity: 1;
}

@media (max-width:1100px) {
  .show-restaurant{
    background-size: 200%;
  }
}

@media (max-width:800px) {
  .show-restaurant{
    background-size: 500%;
  }
}
