<nav data-controller="navbar" data-navbar-target="nav" data-action="scroll@window->navbar#navToggle">
  <h1>Restaurant Review</h1>
  <div>
    <%= link_to 'REVIEW RESTAURANT', new_restaurant_path %>
    <%= link_to 'HOME', root_path %>
  </div>
</nav>
